<!DOCTYPE html>
<html>
	<head>
		<title>Calendar</title>
		<!--
		<script>
		function showMonth(){
			var d = new Date();
			alert(d.getMonth());	
		}
		</script>
		-->
	</head>
	<body>

		<!-- input id="test" type="button" value="Show alert box" -->	

		<!-- Sourced from => http://rubydoc.info/gems/bootstrap-timepicker-rails-addon/0.2.5.1/frames -->
		<!--<div class="input-append bootstrap-timepicker">
		  <input id="timepicker" type="text" class="input-small">
		  <span class="add-on"><i class="icon-time"></i></span>
		</div>
		-->
		<div>
			
		</div>
		<form name="timeForm">
			<label style="font-weight:bold";>Time:</label>
			<%= select_tag "timeSelect", "<option>0000</option><option>0100</option><option>0200</option>
				<option>0300</option><option>0400</option><option>0500</option><option>0600</option>
				<option>0700</option><option>0800</option><option>0900</option><option>1000</option>
				<option>1100</option><option>1200</option><option>1300</option><option>1400</option>
				<option>1500</option><option>1600</option><option>1700</option><option>1800</option>
				<option>1900</option><option>2000</option><option>2100</option><option>2200</option>
				<option>2300</option>
				".html_safe, :multiple => true %>	
			<label style="font-weight:bold";>Description:</label>				
			<input id="eventDetails" type="text" />
		</form>
		<table class="calendar">
			<thead>
				<tr>
					<th id="backYear" style="color:blue;"> << </th>
					<th id="backMonth" style="color:blue;"> < </th>
					<th id="month_year" colspan="3"></th>
					<th id="forwardMonth" style="color:blue;"> > </th>
					<th id="forwardYear" style="color:blue;"> >> </th>
				</tr>
				<tr>
					<th>Sun</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
					<th>Sat</th>					
				</tr>	
			</thead>
			<tbody>
					
			</tbody>
		</table>
	

		

	</body>
</html>