<!DOCTYPE html>
<html>
	<head>
		<title>Calendar</title>
		<!--
		<script>
		function showMonth(){
			var d = new Date();
			alert(d.getMonth());	
		}
		</script>
		-->
	</head>
	<body>

		<!-- input id="test" type="button" value="Show alert box" -->	

		<!-- Sourced from => http://rubydoc.info/gems/bootstrap-timepicker-rails-addon/0.2.5.1/frames -->
		<!--<div class="input-append bootstrap-timepicker">
		  <input id="timepicker" type="text" class="input-small">
		  <span class="add-on"><i class="icon-time"></i></span>
		</div>
		-->
		<div>
			
		</div>
		<form name="timeForm">
			<label style="font-weight:bold";>Time:</label>
			<%= select_tag "timeSelect", "<option>00:00</option><option>01:00</option><option>02:00</option>
				<option>03:00</option><option>04:00</option><option>05:00</option><option>06:00</option>
				<option>07:00</option><option>08:00</option><option>09:00</option><option>10:00</option>
				<option>11:00</option><option>12:00</option><option>13:00</option><option>14:00</option>
				<option>15:00</option><option>16:00</option><option>17:00</option><option>18:00</option>
				<option>19:00</option><option>20:00</option><option>21:00</option><option>22:00</option>
				<option>23:00</option>
				".html_safe, :multiple => true %>	
			<label style="font-weight:bold";>Description:</label>				
			<input id="eventDetails" type="text" />
		</form>
		<table class="calendar">
			<thead>
				<tr>
					<th id="backYear" style="color:blue;"> << </th>
					<th id="backMonth" style="color:blue;"> < </th>
					<th id="month_year" colspan="3"></th>
					<th id="forwardMonth" style="color:blue;"> > </th>
					<th id="forwardYear" style="color:blue;"> >> </th>
				</tr>
				<tr>
					<th>Sun</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
					<th>Sat</th>					
				</tr>	
			</thead>
			<tbody>
					
			</tbody>
		</table>
	

		

	</body>
</html>