<!DOCTYPE html>
<html>
	<head>
		<title>Project 2</title>
	</head>
	<body>
		<p>
			I choose to complete this project using the gem "bootstrap-sass". 
			<br />			
			I tried using the gem "bootstrap-sass-rails", but there were issues when I required the twitter/bootstrap plugin in the javascripts and css asset pipelines.
			<br />
			<br />
			I had to make a new view for project_2 in the pages controller for the hyperlink 
			<br />
			<br />
			I updated the root.rb file to redirect the link to the project_2 action in the pages controller
			
		</p>		
	</body>
</html>