<!DOCTYPE html>
<html>
	<head>
		<title>Project 2</title>
	</head>
	<body>
		<p>
			I added the "bootstrap-sass" gem. 
			<br />	
			I had to make a new view for project_2 and a controller for said view 
			<br />
			<br />
			I updated the root.rb file to route the project_2 action to the project_2 pages controller
			
		</p>		
	</body>
</html>